@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@model FilmsApp.Models.Film

@{
    ViewBag.Title = Model.Name;
}

<div class="container">
    <div class="row justify-content-center pb-3">
        <div class="col-12 col-md-6 text-center text-md-right pb-3 pb-md-0">
            <img class="img-fluid pr-0 pr-md-3" src="@Model.PosterPath" />
        </div>
        <div class="col-12 col-md-6 text-left">
            <div class="row border-bottom">
                <h5 class="col text-danger">@Model.Name</h5>
            </div>
            <div class="row border-bottom pt-1 pb-1">
                <span class="col-5 text-secondary">Год выпуска</span>
                <span class="col text-dark">@Model.Year</span>
            </div>
            <div class="row border-bottom pt-1 pb-1">
                <span class="col-5 text-secondary">Режиссёр</span>
                <span class="col text-dark">@Model.Author</span>
            </div>
            <div class="row border-bottom pt-1 pb-1">
                <span class="col-12 text-secondary">Описание</span>
                <span class="col-12 text-dark">@Model.About</span>
            </div>
            @if (userManager.GetUserId(User) == Model.Creator)
            {
                <div class="row justify-content-end pt-3">
                    <a asp-route-id="@Model.Id" asp-action="Edit" asp-controller="Home" class="btn btn-primary">Редактировать</a>
                </div>
            }
        </div>
    </div>
</div>
